.errorinput{border:1px #f00 solid}
.form{box-shadow: 0 0 25px #ccc;
    background-color: #ffffff;
    padding: 20px 30px;}

    button.btn.btn-primary {
        display: inline-block;
        width: auto;
        padding: 5px;
        font-size: 12px;
        background: green;
        border: 1px solid green;
        border-radius: 3px;
        color: #fff;
    }