.backgroundcolor{background-color:#ccc}
.cursor{ cursor: pointer;}
.buttan_main {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.btn-danger {
    color: #fff;
    text-align: center;
    position: inherit;
    bottom: 2px;
    right: 15px;
    background-color: #e74111;
    border-color: #e74111;
}
// .btn:hover {
//     color: #212529 !important;
//     background: #fff !important;
//     text-decoration: none;
//     border: 1px solid fff !important;
// }
