.padding{padding:0px}
.cursor{ cursor: pointer;}

button.btn.btn-primary {
    display: inline-block;
    width: auto;
    padding: 5px;
    font-size: 14px;
    background: green;
    border: 1px solid green;
    border-radius: 3px;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}